<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Data Tables-All Search</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for("static", filename="assets/css/bootstrap.css") }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ url_for("static", filename="assets/font-awesome/css/font-awesome.css") }}" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="{{ url_for("static", filename="assets/css/style.css") }}" rel="stylesheet">
    <link href="{{ url_for("static", filename="assets/css/style-responsive.css") }}" rel="stylesheet">

  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header black-bg">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars tooltips" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
            <!--logo start-->
            <a href="index.html" class="logo"><b>Name</b></a>
            <!--logo end-->

            <div class="top-menu">
            	<ul class="nav pull-right top-menu">
                    <li><a class="logout" href="admin/login.html">Logout</a></li>
            	</ul>
            </div>
        </header>
      <!--header end-->

      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              	  <h5 class="centered">Marcel Newman</h5>

                  <li class="mt">
                      <a href="">
                          <i class="fa fa-dashboard"></i>
                          <span>Setting</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-tasks"></i>
                          <span>Forms Function</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ url_for("MoreThan100") }}">MoreThan100</a></li>
                          <li><a  href="{{ url_for("MaximumPrice") }}">MaximumPrice</a></li>
                          <li><a  href="{{ url_for("MostPopularDeal") }}">MostPopularDeal</a></li>
                          <li><a  href="{{ url_for("Bargain") }}">Bargain</a></li>
                      </ul>
                  </li>

                  <li class="sub-menu">
                      <a class="active" href="javascript:;" >
                          <i class="fa fa-th"></i>
                          <span>Add</span>
                      </a>
                      <ul class="sub">
                          <li><a  href="{{ url_for("AddCoupon") }}">Add Coupon</a></li>
                          <li><a  href="{{ url_for("AddCustomer") }}">Add Customer</a></li>
                     </ul>

                  </li>


              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->

      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
          	<h3><i class="fa fa-angle-right"></i> Add Coupon </h3>

              <!--主要改这里  ALL Tables -->
               <div class="row mt">
                <div class="col-lg-12">
                    <div class="form-panel">
                        <h4 class="mb"><i class="fa fa-angle-right"></i> Deal Information</h4>
                        <form class="form-horizontal style-form" method="post">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Deal Number</label>
                                <input type="text" class="form-control" name="deal_number" placeholder="Deal Number">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Description</label>
                                <input type="text" class="form-control" name="description" placeholder="Description">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Location</label>
                                <input type="text" class="form-control" name="location" placeholder="Location">

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Deal Price</label>
                                <input type="text" class="form-control" name="deal_price" placeholder="Deal Price">

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Original Price</label>
                                <input type="text" class="form-control" name="original_price" placeholder="Original Price">

                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Ending Date</label>
                                <input type="text" class="form-control" name="ending_date" placeholder="2012/11/16">
                            </div>
                            <div class="form-group">
                                <!--<label class="col-sm-2 col-sm-2 control-label">Ending Date</label>-->
                                <div class="col-sm-10">
                                    <div align="center">
                                        <button type="submit" class="btn btn-theme">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div><!-- col-lg-12-->
            </div><!-- /row -->

		</section><! --/wrapper -->
      </section><!-- /MAIN CONTENT -->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="../../static/assets/js/jquery.js"></script>
    <script src="../../static/assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="../../static/assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="../../static/assets/js/jquery.scrollTo.min.js"></script>
    <script src="../../static/assets/js/jquery.nicescroll.js" type="text/javascript"></script>


    <!--common script for all pages-->
    <script src="../../static/assets/js/common-scripts.js"></script>

    <!--script for this page-->

  <script>
      //custom select box

      $(function(){
          $('select.styled').customSelect();
      });

  </script>

  </body>
</html>
